@model Bolnica.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Создание новой учетной записи.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Форма регистрации</legend>
        <div>
            <div class="col-md-4">
                <ul>
                    <li>
                        @Html.LabelFor(m => m.UserName)                
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </li>
                </ul>
            </div>
            <div class="col-md-6">   
                <div class="input-group">         
                @Html.TextBoxFor(m => m.UserName)  

                </div>        
                <div class="input-group">    
                @Html.PasswordFor(m => m.Password)
                </div>        
                <div class="input-group">    
                @Html.PasswordFor(m => m.ConfirmPassword)
                </div>        
            </div>
        </div>
        <input type="submit" value="Регистрация" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
